[submodule "2017-2018-Project-Server-Clients-EHI2VSo-Client"]
	path = 2017-2018-Project-Server-Clients-EHI2VSo-Client
	url = https://github.com/SaxionACT/2017-2018-Project-Server-Clients-EHI2VSo-Client.git
